<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block head_title %}Home{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://webfontworld.github.io/vitro/VitroCore.css" rel="stylesheet">


  <!-- Vendor CSS Files -->

  <link href="{% static 'main/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">  
  <link href="{% static 'main/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'main/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'main/vendor/glightbox/css/glightbox.min.css' %}" >
  <link href="{% static 'main/css/style.css' %}" rel="stylesheet">

  
</head>

{% block extrahead%}{% endblock %}



<body>







  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  {% include 'main/header.html' %}
  {% include 'main/body.html' %}
  {% include 'main/footer.html' %}





  </body>

</html>