{% load static %}
<!DOCTYPE HTML>

<html>
<head>
    <meta charset="UTF-8">
	<title></title>
 	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href='{% static "board/bootstrap/bootstrap.css" %}' media="screen">
    <link rel="stylesheet" href='{% static "board/_assets/css/custom.min.css" %}'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
</head>
<body>
    <h1>
        차트 페이지
    </h1>
	<div id="market_chart" class="col-lg-12" style="height: 180px;  margin-top:-15px; "></div>
<!--universe chart-->
	<script type="text/javascript" src='{% static "main\js\universe_chart.js" %}'></script>
</body>
</html>